apiVersion: v1
kind: Secret
metadata:
  name: vulnova-secrets
  namespace: vulnova-prod
  labels:
    app.kubernetes.io/name: vulnova
    app.kubernetes.io/component: secrets
type: Opaque
stringData:
  POSTGRES_USER: "vulnova_admin"
  POSTGRES_PASSWORD: "REPLACE_WITH_STRONG_PRODUCTION_POSTGRES_PASSWORD"
  REDIS_PASSWORD: "REPLACE_WITH_STRONG_PRODUCTION_REDIS_PASSWORD"
  JWT_SECRET: "REPLACE_WITH_CRYPTOGRAPHICALLY_SECURE_JWT_SECRET_MINIMUM_64_CHARS"
  MINIO_ROOT_USER: "vulnova_minio_admin"
  MINIO_ROOT_PASSWORD: "REPLACE_WITH_STRONG_MINIO_PASSWORD"
  QDRANT_API_KEY: "REPLACE_WITH_STRONG_QDRANT_API_KEY"
